<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Simple APIs 
## Random User and Fruitvice API Examples


Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruitvice API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2023-01-01#intro) can be found here.

Another example of simple API we will use in this notebook is Fruitvice application. The Fruitvice API webservice which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The webservice is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2023-01-01) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser

Requirement already satisfied: randomuser in c:\users\ssedy\anaconda3\envs\course_7_playground\lib\site-packages (1.6)

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x15b95ed94b0>,
 <randomuser.RandomUser at 0x15b95ed8250>,
 <randomuser.RandomUser at 0x15b95edbf70>,
 <randomuser.RandomUser at 0x15b95ed9d20>,
 <randomuser.RandomUser at 0x15b95edbd30>,
 <randomuser.RandomUser at 0x15b95edbf40>,
 <randomuser.RandomUser at 0x15b95ed8640>,
 <randomuser.RandomUser at 0x15b95ed8f40>,
 <randomuser.RandomUser at 0x15b95ed9810>,
 <randomuser.RandomUser at 0x15b98159ba0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [6]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [7]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Stephanie Welch   stephanie.welch@example.com
Fabrice Leroy   fabrice.leroy@example.com
Engin Golz   engin.golz@example.com
نیایش احمدی   nyysh.hmdy@example.com
Flavie Le Gall   flavie.legall@example.com
Øystein Aaberg   oystein.aaberg@example.com
Diona Van de Merbel   diona.vandemerbel@example.com
Isaiah Kerssens   isaiah.kerssens@example.com
Gavin Thomas   gavin.thomas@example.com
Aria Walker   aria.walker@example.com

## Exercise 1
In this Exercise, generate photos of the random 5 users.

In [8]:
## Write your code here
for user in some_list:
    print (user.get_picture())

https://randomuser.me/api/portraits/women/93.jpg
https://randomuser.me/api/portraits/men/16.jpg
https://randomuser.me/api/portraits/men/12.jpg
https://randomuser.me/api/portraits/women/13.jpg
https://randomuser.me/api/portraits/women/11.jpg
https://randomuser.me/api/portraits/men/11.jpg
https://randomuser.me/api/portraits/women/44.jpg
https://randomuser.me/api/portraits/men/11.jpg
https://randomuser.me/api/portraits/men/4.jpg
https://randomuser.me/api/portraits/women/36.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [9]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [10]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,بیتا کوتی,female,خرم‌آباد,چهارمحال و بختیاری,byt.khwty@example.com,1949-09-20T15:57:36.218Z,https://randomuser.me/api/portraits/women/27.jpg
1,Rose-Marie Garnier,female,Pfaffnau,Appenzell Ausserrhoden,rose-marie.garnier@example.com,1969-06-26T23:00:55.211Z,https://randomuser.me/api/portraits/women/85.jpg
2,Julia Da Silva,female,Sempach,Aargau,julia.dasilva@example.com,1955-10-12T13:43:34.195Z,https://randomuser.me/api/portraits/women/3.jpg
3,Sarah Hughes,female,New Plymouth,Bay of Plenty,sarah.hughes@example.com,1960-11-06T18:31:00.008Z,https://randomuser.me/api/portraits/women/21.jpg
4,Arthur Vidal,male,Créteil,Lot-et-Garonne,arthur.vidal@example.com,1970-03-17T23:18:12.063Z,https://randomuser.me/api/portraits/men/41.jpg
5,Elisa Bonnet,female,Toulouse,Eure-et-Loir,elisa.bonnet@example.com,1977-03-14T08:04:28.709Z,https://randomuser.me/api/portraits/women/1.jpg
6,Buse Solmaz,female,Burdur,Gaziantep,buse.solmaz@example.com,1989-06-30T12:48:17.415Z,https://randomuser.me/api/portraits/women/82.jpg
7,Dianne Jackson,female,Allentown,Arkansas,dianne.jackson@example.com,1969-12-05T09:22:33.431Z,https://randomuser.me/api/portraits/women/75.jpg
8,Gerdine Middelkoop,female,Babylonienbroek,Drenthe,gerdine.middelkoop@example.com,1972-07-05T12:25:05.350Z,https://randomuser.me/api/portraits/women/69.jpg
9,Kadir Akşit,male,Diyarbakır,Konya,kadir.aksit@example.com,1950-07-22T19:06:33.666Z,https://randomuser.me/api/portraits/men/95.jpg

In [11]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruitvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [12]:
import requests
import json

We will obtain the [fruitvice](https://www.fruityvice.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork1005-2023-01-01) API data using `requests.get("url")` function. The data is in a json format.

In [13]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [14]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [15]:
pd.DataFrame(results)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."
10,Pineapple,10,Bromeliaceae,Poales,Ananas,"{'calories': 50, 'fat': 0.12, 'sugar': 9.85, '..."
11,Fig,68,Moraceae,Rosales,Ficus,"{'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'c..."
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,"{'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'ca..."
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,"{'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'c..."
14,Plum,71,Rosaceae,Rosales,Prunus,"{'calories': 46, 'fat': 0.28, 'sugar': 9.92, '..."
15,Orange,2,Rutaceae,Sapindales,Citrus,"{'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'ca..."
16,GreenApple,72,Rosaceae,Rosales,Malus,"{'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'ca..."
17,Raspberry,23,Rosaceae,Rosales,Rubus,"{'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'ca..."
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,"{'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'ca..."
19,Lemon,26,Rutaceae,Sapindales,Citrus,"{'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'ca..."
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,"{'calories': 60, 'fat': 0.38, 'sugar': 13.7, '..."
21,Blueberry,33,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
22,Apple,6,Rosaceae,Rosales,Malus,"{'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'c..."
23,Guava,37,Myrtaceae,Myrtales,Psidium,"{'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'ca..."
24,Apricot,35,Rosaceae,Rosales,Prunus,"{'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'ca..."
25,Papaya,42,Caricaceae,Caricacea,Carica,"{'calories': 43, 'fat': 0.4, 'sugar': 1.0, 'ca..."
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,"{'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'ca..."
27,Tangerine,77,Rutaceae,Sapindales,Citrus,"{'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'ca..."
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,"{'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'ca..."
29,Lime,44,Rutaceae,Sapindales,Citrus,"{'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'ca..."
30,Pomegranate,79,Lythraceae,Myrtales,Punica,"{'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'c..."
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,"{'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'ca..."
32,Grape,81,Vitaceae,Vitales,Vitis,"{'calories': 69, 'fat': 0.16, 'sugar': 16.0, '..."
33,Morus,82,Moraceae,Rosales,Morus,"{'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'c..."
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,"{'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'ca..."
35,Avocado,84,Lauraceae,Laurales,Persea,"{'calories': 160, 'fat': 14.66, 'sugar': 0.66,..."
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,"{'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'ca..."
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,"{'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'ca..."
38,Cherry,9,Rosaceae,Rosales,Prunus,"{'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'ca..."
39,Peach,86,Rosaceae,Rosales,Prunus,"{'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'c..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [16]:
df2 = pd.json_normalize(results)

In [17]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [18]:
cherry = df2.loc[df2["name"] == 'Cherry']
cherry

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
38,Cherry,9,Rosaceae,Rosales,Prunus,50,0.3,8.0,12.0,1.0

In [19]:
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [20]:
# Write your code here
banana = df2.loc[df2["name"] == 'Banana']
banana

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0

In [21]:
banana.iloc[0]['nutritions.calories']

96

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://github.com/public-apis/public-apis#animals) contains a list of free public APIs. Choose any API of your interest and use it to load/extract some information, as shown in the example above.
1. Using `requests.get("url")` function, load your data.

In [22]:
# Write your code here
data2 = requests.get("http://uselessfacts.jsph.pl/api/v2/facts/today")
data2.status_code

200

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://www.fishwatch.gov/api/species")
```

</details>

2. Retrieve results using `json.loads()` function.

In [23]:
# Write your code here
results2 = json.loads(data2.text)
results2

{'id': '4221d347c862ef3cbf5c198b596acb2e',
 'text': 'The giant squid has the largest eyes in the world.',
 'source': 'djtech.net',
 'source_url': 'http://www.djtech.net/humor/useless_facts.htm',
 'language': 'en',
 'permalink': 'https://uselessfacts.jsph.pl/api/v2/facts/4221d347c862ef3cbf5c198b596acb2e'}

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame.

In [24]:
# Write your code here
df3 = pd.DataFrame(results2, index=[0])
df3

,id,text,source,source_url,language,permalink
0,4221d347c862ef3cbf5c198b596acb2e,The giant squid has the largest eyes in the wo...,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/4221...

In [25]:
df3["text"]

0    The giant squid has the largest eyes in the wo...
Name: text, dtype: object

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
[Svitlana Kramar](www.linkedin.com/in/svitlana-kramar)


Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

                                Copyright © 2020 IBM Corporation. All rights reserved.